<%layout('layouts/boilerplate')%> <!--this passes through this code into the body of the boilerplate-->
<link rel="stylesheet" href="/stylesheets/app.css">
<div id="cluster-map"></div>
<div class="container">
    <h1>Photography Spots</h1>
    <% for (let campground of campgrounds) {%> 
        <div class="card mb-3  bg-secondary bg-gradient">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) { %> 
                    <img class="img-fluid" alt="" src="<%= campground.images[0].url  %> ">
                    <%} else { %>
                    <img class="img-fluid" alt="" src="https://res.cloudinary.com/dcxblk1e6/image/upload/v1670904803/YelpCamp/ptd5vruh39slm0h50mro.png">
                    <% } %>  
                </div>
                <div class="col md-8">
                    <div class="card-body">
                        <div class="card-title">
                            <h5 class="card-title"><%= campground.title  %> </h5>
                            <p class="card-text"><%= campground.description  %> </p>
                            <p class="card-text"> <%= campground.location %></p>
                            <a href="/campgrounds/<%=campground._id  %> " class="btn btn-primary">View <%= campground.title %> </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% } %>     
</div>

<script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
        const campgrounds = {features: <%- JSON.stringify(campgrounds)%>}
</script>
<script src="/javascripts/clusterMap.js"></script>